.App {
  text-align: center;
}

.todo {
background-color: aqua;   
width: 600px;
height: 250px;
margin-left: 400px;
}
input{
  padding: 15px;
  border-radius: 5px;
  width: 400px;

}
button{
  padding: 15px;
  border-radius: 5px;
  margin-left: 20px;
  color: palevioletred;
}
.todoliste {
  color: rgb(150, 121, 141);
  margin-top: 50px;
  
}

.newitem{
  margin-top: 50px;

}

.completet{
  text-decoration: line-through;
  }